html {
    box-sizing: border-box;

    &.locked {
        overflow-y: hidden;
        height: 100vh;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: $medium-gray;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: $primary;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}

.wrapper {
    margin: 10px auto;
    max-width: calc(100vw - 20px);
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 1024px) {
        margin: 45px auto;
        max-width: calc(100vw - 40px);
        grid-template-columns: 30% 70%;
        grid-template-rows: min-content 1fr min-content;
    }

    @media screen and (min-width: 1320px) {
        margin: 60px auto;
        max-width: 1300px;
    }
}

.main {
    padding: 10%;

    @media screen and (min-width: 1024px) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 2;
    }
}
