<header class="header" role="banner">
    <div class="logo">
        <a href="/" class="logo-link">
            <svg class="logo-svg" xmlns="http://www.w3.org/2000/svg" width="347" height="301" viewBox="0 0 347 301">
                <defs>
                    <style>
                        .cls-1 {
                            font-size: 50px;
                            fill: #fff;
                            text-anchor: middle;
                            font-family: Barlow;
                            font-weight: 200;
                        }
                    </style>
                </defs>
                <text id="J" class="cls-1" transform="translate(90.925 245.962) scale(7.027)"><tspan x="0">J</tspan></text>
                <text id="M" class="cls-1" transform="translate(255.925 245.962) scale(7.027)"><tspan x="0">M</tspan></text>
                <text id="JOSH_MOYERS" data-name="JOSH MOYERS" class="cls-1" transform="translate(173.312 301.409) scale(1.104)"><tspan x="0">JOSH MOYERS</tspan></text>
            </svg>
        </a>
    </div>
</header>