<head prefix="og: http://ogp.me/ns#">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>A11Y Boilerplate</title>
    <meta name="description" content="The Accessibility Boilerplate is a basic HTML template to kickstart your web project responsibly.">
    <meta name="keywords" content="a11y, accessibility, html5, boilerplate, template, aria, landmark roles, structure, banner, search, navigation, contentinfo">

    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- specify viewport: https://developers.google.com/speed/docs/insights/ConfigureViewport -->

    <script>(function (e) { e.className = e.className.replace('no-js', 'js'); }(document.documentElement));</script>

    <!--[if lt IE 9]>
        <script>
            (function (d, a) {
                d.documentElement.className = 'lt-ie9'; var l = a.length; while(l--){ d.createElement(a[l]); }
            }(document, ['HEADER', 'NAV', 'SECTION', 'FOOTER', 'ARTICLE', 'MAIN', 'FIGCAPTION', 'FIGURE', 'ASIDE']));
        </script>
    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Barlow:400,400i,700,700i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>