.footer {
    background-color: $gray;
    color: $white;
    padding: 5% 15%;
    text-align: left;

    a {
        color: $secondary;

        &:hover {
            background-color: darken($secondary, 10);
            color: $white;
        }
    }
}
