.header {
    background-color: $gray;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: min-content max-content;

    @media screen and (min-width: 1024px) {
        display: block;
        padding: 15% 15% 1rem 15%;
    }
}

.logo {
    text-align: center;
    width: 222px;
    grid-column-start: 2;
    padding-left: 15px;

    @media screen and (min-width: 1024px) {
        max-width: 100%;
        width: auto;
    }

    &-svg {
        width: 140px;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 15px;

        @media screen and (min-width: 1024px) {
            position: relative;
            width: auto;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &-svg_text {
        font-size: 50px;
        fill: $white;
        text-anchor: middle;
        font-family: 'Barlow', sans-serif;
        font-weight: 200;
        transition: all ease-in-out 75ms;

        &--primary {
            display: none;

            @media screen and (min-width: 1024px) {
                display: block;
            }
        }
    }

    &-link {
        height: 44px;
        display: block;
        position: relative;

        @media screen and (min-width: 1024px) {
            height: 125px;
            width: 125px;
            margin: 0 auto;
        }

        &:hover {
            background-color: transparent;

            .logo-svg_text {
                &--primary {
                    fill: $primary;
                }

                &--secondary {
                    fill: $primary;

                    @media screen and (min-width: 1024px) {
                        fill: $secondary;
                    }
                }
            }
        }
    }
}
