.header {
    background-color: $gray;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr min-content;

    @media screen and (min-width: 1024px) {
        display: block;
        padding: 15% 15% 1rem 15%;
    }
}

.logo {
    max-width: 100%;
    text-align: center;

    &-svg {
        max-width: 100%;
        max-height: 100%;
    }

    &-svg_text {
        font-size: 50px;
        fill: $white;
        text-anchor: middle;
        font-family: 'Barlow', sans-serif;
        font-weight: 200;
        transition: all ease-in-out 75ms;

        &--secondary {
            display: none;

            @media screen and (min-width: 1024px) {
                display: block;
            }
        }
    }

    &-link {
        width: 44px;
        height: 44px;
        display: block;

        @media screen and (min-width: 1024px) {
            height: 125px;
            width: 125px;
            margin: 0 auto;
        }

        &:hover {
            background-color: transparent;

            .logo-svg_text {
                &--primary {
                    fill: $primary;
                }

                &--secondary {
                    fill: $secondary;
                }
            }
        }
    }
}
