.nav {
    grid-column-start: 1;
    grid-row-start: 1;

    &-list {
        margin: 0.5rem 0;
        padding: 0;
        list-style: none;

        @media screen and (min-width: 1024px) {
            margin: 15% 0 0 0;
        }
    }

    &-item {
        padding: 0.75rem 0.25rem;
        margin: 0;
        border-top: 1px solid rgba($white, 0.25);

        &:first-child {
            @media screen and (min-width: 1024px) {
                border-top: 0;
            }
        }
    }

    &-link {
        color: $secondary;
        text-decoration: none;
    }

    &-toggle_svg {
        path {
            fill: $white;
        }
    }

    &-toggle {
        width: 44px;
        height: 44px;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &:hover {
            .nav-toggle_svg {
                path {
                    fill: $secondary;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &-panel {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        padding: calc(10px + 0.5rem);
        z-index: 2;
        background-color: $gray;
        will-change: transform;
        transform: translateX(-100%);
        transition: transform ease-in-out 200ms;
        overflow-y: scroll;

        @media screen and (min-width: 1024px) {
            height: auto;
            width: auto;
            position: relative;
            overflow: auto;
            transform: translateX(0);
        }

        &.open {
            transform: translateX(0);
        }
    }
}
