.nav {
    grid-column-start: 1;
    grid-row-start: 1;

    &-list {
        margin: 0;
        padding: 0;
        list-style: none;

        @media screen and (min-width: 1024px) {
            margin: 15% 0 0 0;
        }
    }

    &-item {
        padding: 0;
        margin: 0 0 0.5rem 0;
    }

    &-link {
        color: $secondary;
    }

    &-toggle_svg {
        path {
            fill: $white;
        }
    }

    &-toggle {
        width: 44px;
        height: 44px;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &:hover {
            .nav-toggle_svg {
                path {
                    fill: $secondary;
                }
            }
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &-panel {
        display: none;
        position: absolute;
        width: calc(100vw - 70px);
        height: 100vh;
        left: 0;
        top: 0;
        padding: 10%;
        z-index: 2;
        background-color: $gray;

        @media screen and (min-width: 1024px) {
            height: auto;
            width: auto;
            position: relative;
        }
    }
}
