.post {
    &-footer {
        font-size: 0.75rem;
        border-top: 1px solid $medium-gray;
        margin: 1rem 0;
        padding: 0.5rem 0;
    }
}

.summary {
    padding-bottom: 2.75rem;

    &:not(:last-of-type) {
        border-bottom: 1px solid $medium-gray;
    }

    &-header {
        margin-bottom: 1rem;
    }

    &-heading {
        font-size: 2.157rem;
    }

    &-publish_date {
        font-size: 0.75rem;
    }
}
