
{{ define "mainImage" }}
    {{ with .Params.featuredImage }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Resize "300x" }}

        <div class="main-image_wrapper">
            <img class="main-image" src="{{ $resized.RelPermalink }}" alt="{{.Params.featuredImageAlt}}">
        </div>
    {{ end }}
{{ end }}

{{ define "main" }}
    <h1>{{.Title}}</h1>
    
    {{.Content}}
{{ end }}