
{{ define "mainImage" }}
{{ $originalImage := .Params.featuredImage }}

    {{ if isset .Params "featuredimage" }}
        <div class="main-image_wrapper">
            <img class="main-image" src="{{ $originalImage.Resize "300x" }}" alt="{{.Params.featuredImageAlt}}">
        </div>
    {{ end }}
{{ end }}

{{ define "main" }}
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
        <span>{{.}}</span>
    {{ end }}

    <div>
        {{.Content}}
    </div>

    <div>
        <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
        {{ range first 10 .Pages }}
            {{ .Render "summary"}}
        {{ end }}
    </div>
{{ end }}